<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../styles.css" />
    <title>API - BossaBox</title>
</head>

<body>
    <div>
        <img alt="Node.js" src="https://nodejs.org/static/images/logo.svg" width="300" />
        <main>
            <h1>Welcome!</h1>
            <p>Challenge BossaBox</p>
            <p>API - Node</p>
            <a target="_blank" href="https://github.com/isaiasmeloo/api-vuttr-mongodb">GitHub</a>
        </main>
    </div>
</body>

</html>